name: Azure Static Web Apps CI/CD

on:
    push:
        branches:
            - main

jobs:
    build_and_deploy_job:
        runs-on: ubuntu-latest
        name: Build and Deploy Job
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: true

            - name: Build And Deploy
              id: builddeploy
              uses: Azure/static-web-apps-deploy@v1
              with:
                  azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  action: "upload"
                  ###### Configuração de Pastas ######
                  app_location: "/frontend" # Onde está o React
                  api_location: "/api" # Onde está o Node.js
                  output_location: "dist" # Pasta de build (ou 'build' se for CRA)
                  ###### Fim da Configuração ######
